#main {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  position: relative;
  margin: auto;
  margin-top: 10%;
}

h1 {
  display: block;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

input {
  display: block;
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  margin-bottom: 10%;
}

.btn {
  max-width: 50%;
  margin: auto;
}

#logo {
  max-width: 20em;
  margin: auto;
}